---
- name: Install GPG
  become: true
  package:
    pkg:
      - gnupg

- name: Download Speedtest GPG key
  become: true
  ansible.builtin.get_url:
    url: https://packagecloud.io/ookla/speedtest-cli/gpgkey
    dest: /etc/apt/keyrings/ookla_speedtest-cli.asc
    mode: '0644'

- name: Add Speedtest repository
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/ookla_speedtest-cli.asc] https://packagecloud.io bullseye main"
    state: present
    filename: ookla_speedtest-cli

- name: Update package manager cache.
  apt:
    update_cache: true
    cache_valid_time: 86400
  become: true